body {
	background: linear-gradient(180deg, #C1E1FF 0%, #0085FF 100%);
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
}

.container {
	background-color: #ffffff;
	width: 400px;
	margin: 100px auto;
	padding: 10px 100px;
	border-radius: 30px;
}

.todo-list-title {
	position: relative;
	left: -20px;
	font-size: 32px;
	font-weight: 700;
}

.inner-wrapper {
	margin: 0 auto;
	max-width: 350px;
	width: 100%;
}

.input-wrapper {
	border-radius: 20px;
	background: #EEEFF0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 424px;
}

.input-wrapper input {
	background-color: transparent;
	border: 0px;
	flex: 1;
	outline: none;
	padding: 10px 20px;
}

.input-wrapper button {
	background-color: #359aff;
	border: 0px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 10px 13px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: 700;
}

.list {
	list-style: none;
	padding: 0px;
}

.list li {
	vertical-align: middle;
	font-weight: 400;
	padding: 5px;
	position: relative;
}

.list li:hover {
	background-color: #b4dbff;
}

.list li.checked {
	text-decoration: line-through;
}

/*
 * icons from:
 * https://www.flaticon.com/packs/interface-2914
 */
.list li::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
/*	background-image: url('assets/unchecked.svg');*/
	background-image: url('assets/unchecked.png');
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 10px;
}

.list li.checked::before {
	background-image: url('assets/checked.png');	
}

.deleter {
	position: absolute;
	right: 6px;
	cursor: pointer;
	font-size: 25px;
	line-height: 1em;
	padding: 0px 5px;
	border-radius: 3px;
	background-color: #eeeff0;
}

.deleter:hover {
	background-color: #0000004f;
}
